header {
    background-color: rgba(80, 66, 207, 0.596);
    padding: 20px;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: end;
}

header nav ul li:first-child {
    margin-right: auto;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header nav ul li a:hover {
    color: rgb(138, 1, 250)
}

main {
    background-color: rgba(39, 30, 119, 0.596);
    width: 100%;
    min-height: 100vh;
}

main .banner {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 71);
}

main .productList {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.productList .product {
    background-color: rgb(55, 96, 112);
    padding: 20px;
}
.product img {
    width: 100%;
}
.product button {
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(229, 164, 255);
    color:rgb(0, 0, 0);
    cursor: pointer;
    transition: transform 0.3s;
}

.product button:hover,
.product a:hover {
    transform: scale(0.9);
}

footer {
    background-color: rgba(80, 66, 207, 0.596);
    padding: 20px;
    text-align: center;
    font-weight: 700;
}