#register-section {
  padding: 20px;
  min-height: 100vh;
  min-width: 400px;
}

#register-section h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

#register-section p {
  color: #969696;
  margin-top: 10px;
}

#register-section form {
    width: 100%;
    padding: 20px;
    margin: auto;
}

#register-section form * {
    display: block;
    width: 100%;
}

#register-section form label {
    font-weight: bold;
}

#register-section form input,
#register-section form textarea {
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    border: 1px solid #c7c7c7;
}

#register-section form button{
    margin-top: 10px;
    border: none;
    padding: 8px 16px;
    background-color: yellowgreen;
    border-radius: 10px;
    color: white;
    cursor:pointer;
}

#register-section form button:hover {
    background-color: #215a23;
}

.error-message {
    color: red;
    text-align: center;
}

.success-message {
    color: green;
    text-align: center;
}